apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "store-platform.backendFullname" . }}
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: backend
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ include "store-platform.backendServiceAccountName" . }}
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          env:
            - name: PORT
              value: "4000"
            - name: BASE_DOMAIN
              value: "{{ .Values.global.baseDomain }}"
            - name: STORE_NAMESPACE_PREFIX
              value: "store-"
            - name: STORAGE_CLASS_NAME
              value: "{{ .Values.global.storageClassName }}"
          ports:
            - containerPort: 4000
              name: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: 4000
          livenessProbe:
            httpGet:
              path: /healthz
              port: 4000

